<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso você não tenha requisitado essa operação ignore este email.</p>
<p>Sua senha não será alterada enquanto você não acessar o link acima e definir uma nova.</p>
